/* Define the animation */
@keyframes fadeIn {
  from {
    background-color: #000000;
  }
  to {
    background-color: #EBD9C6;
  }
}
/*Line animation stretching down*/
@keyframes extendLine {
  0% {
      height: 0;
  }
  100% {
      height: 100vh;
  }
}

body {
  margin: 40px auto;
  width: 80%;
  font-family: 'Shrikhand', cursive;
  font-weight: normal;
  animation: fadeIn 3s ease-in-out;
  animation-fill-mode: forwards;
  /*background-color: #fff0db;
  transition: background-color 0.5s ease-in-out; */
  /*font-size: 20px;*/
}
nav ul, footer ul {
  text-align: center;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  text-align: center;
  display: inline-flex;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 1.35em;
  align-items: center;
}
p {
text-align: left;
color: #201810;
font-family: tahoma;
font-size: 1.15em;
}
hr{
  height:5px;
  border-width:0;
  background-color:#201810;
  border-top: 1px;
}
a {
  font-size: 1.5em;
  text-decoration: none;
  color: #4D2212;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 2.25em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  color: #AF6E8E;
  animation: colorChange 1s ease-in-out;
}
h2 {
text-align: center;
color: 	#40A390;
font-family: tahoma;
font-size: 1.75em;
font-weight: bold;
white-space: nowrap;
overflow: hidden;
}
h3 {
text-align: center;
color: #FC9627;
font-style: italic;
font-family: tahoma;
font-size: 1.5em;
white-space: nowrap;
overflow: hidden;
}
h4 {
text-align: center;
color: #F4B444;
font-family: tahoma;
font-size: 1em;
font-style: italic;
white-space: nowrap;
overflow: hidden;
}
footer {
  height:5px;
  border-width:0;
  background-color:#201810;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 2em;
}

ul.posts li {
  list-style: none;
}

/* This is the typewriter animation */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #A4491D; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  /*IMAGES*/
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #201810; }
  }

  /* DISCO DANCE FLOOR */
  #disco-floor {
    width: 450px;
    height: 450px;
    display: grid;
    overflow: visible;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    grid-gap: 15px; /* Add this to add gap between squares */
    transform: translate(-50%,-50%);
    margin: auto;
  }

  .square {
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-color: #fff;
    border: 0px solid #000;
    animation: disco 1s ease-in-out infinite;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /*This is the margin line decoration*/
  .left-color-1 {
    background-color: white;
    width: 35px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    animation: extendLine 1s ease-in-out;
    animation-fill-mode: forwards;
    z-index: -1;

}

.left-color-2 {
    background-color: white;
    width: 35px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 50px;
    animation: extendLine 1s ease-in-out;
    animation-fill-mode: forwards;
    z-index: -1;
}

.left-color-3 {
    background-color: white;
    width: 35px;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 100px;
    animation: extendLine 1s ease-in-out;
    animation-fill-mode: forwards;
    z-index: -1;

}

.right-color-1 {
    background-color: white;
    width: 35px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    animation: extendLine 1s ease-in-out;
    animation-fill-mode: forwards;
    z-index: -1;
}

.right-color-2 {
    background-color: white;
    width: 35px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 50px;
    animation: extendLine 1s ease-in-out;
    animation-fill-mode: forwards;
    z-index: -1;
} 

.right-color-3 {
    background-color: white;
    width: 35px;
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 100px;
    animation: extendLine 1s ease-in-out;
    animation-fill-mode: forwards;
    z-index: -1;
}