body {
  margin: 40px auto;
  width: 80%;
  font-family: system-ui, monospace;
  font-weight: normal;
  background-color: #000000;
  /*font-size: 20px;*/
}
nav ul, footer ul {
  text-align: center;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}
nav ul li, footer ul li {
  text-align: center;
  display: inline-flex;
  margin-right: 50px;
  margin-left: 50px;
  font-size: 1.35em;
  align-items: center;
}
p {
text-align: left;
color: #ffffff;
font-family: tahoma;
font-size: 1.15em;
}
hr{
  height:5px;
  border-width:0;
  background-color:#D710DE;
  border-top: 1px;
}
a {
  font-size: 1.5em;
  text-decoration: none;
  color: #ffffff;
  text-align: center;
}
a:hover {
  text-decoration: underline;
}
h1 {
  font-size: 2.25em;
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  color: #D710DE;
}
h2 {
text-align: center;
color: 	#ffffff;
font-family: tahoma;
font-size: 1.5em;
font-weight: bold;
white-space: nowrap;
overflow: hidden;
}
h3 {
text-align: center;
color: rgba(255, 255, 255, 0.65);
font-style: italic;
font-family: tahoma;
font-size: 1.25em;
white-space: nowrap;
overflow: hidden;
}
h4 {
text-align: center;
color: rgba(255, 255, 255, 0.65);
font-family: tahoma;
font-size: 1em;
font-style: italic;
white-space: nowrap;
overflow: hidden;
}
footer {
  height:5px;
  border-width:0;
  background-color:#D710DE;
  font-size: .8em;
}

ul.posts { 
  margin: 20px auto 40px; 
  font-size: 2em;
}

ul.posts li {
  list-style: none;
}

/* This is the typewriter animation */
.typewriter h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #D710DE; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }

  /*IMAGES*/
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #D710DE; }
  }

  /*Flying through Space effect*/
  #space, .stars {
    overflow: hidden;
    z-index: -1;
    position: fixed;  /* position: absolute; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
  }

  #sky {
    width: 100%;
    height: 100%;
    background-color: black;
  }

  .star {
    opacity: 0;
    position: absolute;
    background: white;
    box-shadow: 0px 0px 20px 0px white;
    border-radius: 100%;
    transform-origin: 0, 0;
    animation-timing-function: linear, linear !important;
    animation-iteration-count: infinite, infinite !important;
    animation-delay: -30s, -30s !important;
  }

  .size-1 {
    width: 1px;
    height: 1px;
  }

  .size-2 {
    width: 2px;
    height: 2px;
  }

  .axis-1 {
    animation: anim0 39629ms, fade8 39629ms;
  }

  .axis-2 {
    animation: anim0 8042ms, fade5 8042ms;
  }

  .axis-3 {
    animation: anim0 14242ms, fade5 14242ms;
  }

  .axis-4 {
    animation: anim4 13789ms, fade6 13789ms;
  }

  .axis-5 {
    animation: anim4 33045ms, fade7 33045ms;
  }

  .axis-6 {
    animation: anim4 8778ms, fade8 8778ms;
  }

  .axis-7 {
    animation: anim4 38712ms, fade5 38712ms;
  }

  .axis-8 {
    animation: anim8 43895ms, fade10 43895ms;
  }

  .axis-9 {
    animation: anim8 32630ms, fade8 32630ms;
  }

  .axis-10 {
    animation: anim8 23401ms, fade8 23401ms;
  }

  .axis-11 {
    animation: anim8 12967ms, fade4 12967ms;
  }

  .axis-12 {
    animation: anim12 40199ms, fade1 40199ms;
  }

  .axis-13 {
    animation: anim12 31570ms, fade2 31570ms;
  }

  .axis-14 {
    animation: anim12 24638ms, fade5 24638ms;
  }

  .axis-15 {
    animation: anim12 40332ms, fade2 40332ms;
  }

  .axis-16 {
    animation: anim16 11887ms, fade9 11887ms;
  }

  .axis-17 {
    animation: anim16 36349ms, fade10 36349ms;
  }

  .axis-18 {
    animation: anim16 14529ms, fade9 14529ms;
  }

  .axis-19 {
    animation: anim16 31746ms, fade8 31746ms;
  }

  .axis-20 {
    animation: anim20 10398ms, fade7 10398ms;
  }

  .axis-21 {
    animation: anim20 5134ms, fade10 5134ms;
  }

  .axis-22 {
    animation: anim20 23960ms, fade8 23960ms;
  }

  .axis-23 {
    animation: anim20 40881ms, fade5 40881ms;
  }

  .axis-24 {
    animation: anim24 10042ms, fade1 10042ms;
  }

  .axis-25 {
    animation: anim24 9086ms, fade1 9086ms;
  }

  .axis-26 {
    animation: anim24 13825ms, fade4 13825ms;
  }

  .axis-27 {
    animation: anim24 35770ms, fade8 35770ms;
  }

  .axis-28 {
    animation: anim28 9944ms, fade1 9944ms;
  }

  .axis-29 {
    animation: anim28 27143ms, fade8 27143ms;
  }

  .axis-30 {
    animation: anim28 17574ms, fade1 17574ms;
  }

  .axis-31 {
    animation: anim28 21995ms, fade1 21995ms;
  }

  .axis-32 {
    animation: anim32 28981ms, fade4 28981ms;
  }

  .axis-33 {
    animation: anim32 14290ms, fade1 14290ms;
  }

  .axis-34 {
    animation: anim32 5504ms, fade3 5504ms;
  }

  .axis-35 {
    animation: anim32 40079ms, fade8 40079ms;
  }

  .axis-36 {
    animation: anim36 14761ms, fade10 14761ms;
  }

  .axis-37 {
    animation: anim36 11032ms, fade7 11032ms;
  }

  .axis-38 {
    animation: anim36 26283ms, fade5 26283ms;
  }

  .axis-39 {
    animation: anim36 20061ms, fade8 20061ms;
  }

  .axis-40 {
    animation: anim40 29214ms, fade10 29214ms;
  }

  .axis-41 {
    animation: anim40 7890ms, fade7 7890ms;
  }

  .axis-42 {
    animation: anim40 33602ms, fade7 33602ms;
  }

  .axis-43 {
    animation: anim40 42692ms, fade3 42692ms;
  }

  .axis-44 {
    animation: anim44 18990ms, fade2 18990ms;
  }

  .axis-45 {
    animation: anim44 35672ms, fade2 35672ms;
  }

  .axis-46 {
    animation: anim44 26348ms, fade7 26348ms;
  }

  .axis-47 {
    animation: anim44 26403ms, fade4 26403ms;
  }

  .axis-48 {
    animation: anim48 7439ms, fade5 7439ms;
  }

  .axis-49 {
    animation: anim48 24014ms, fade2 24014ms;
  }

  .axis-50 {
    animation: anim48 30925ms, fade7 30925ms;
  }

  .axis-51 {
    animation: anim48 7202ms, fade1 7202ms;
  }

  .axis-52 {
    animation: anim52 20737ms, fade10 20737ms;
  }

  .axis-53 {
    animation: anim52 15296ms, fade5 15296ms;
  }

  .axis-54 {
    animation: anim52 31463ms, fade6 31463ms;
  }

  .axis-55 {
    animation: anim52 35180ms, fade6 35180ms;
  }

  .axis-56 {
    animation: anim56 14177ms, fade3 14177ms;
  }

  .axis-57 {
    animation: anim56 6831ms, fade6 6831ms;
  }

  .axis-58 {
    animation: anim56 33485ms, fade2 33485ms;
  }

  .axis-59 {
    animation: anim56 20846ms, fade5 20846ms;
  }

  .axis-60 {
    animation: anim60 42227ms, fade8 42227ms;
  }

  .axis-61 {
    animation: anim60 34830ms, fade8 34830ms;
  }

  .axis-62 {
    animation: anim60 26314ms, fade4 26314ms;
  }

  .axis-63 {
    animation: anim60 42008ms, fade6 42008ms;
  }

  .axis-64 {
    animation: anim64 39248ms, fade7 39248ms;
  }

  .axis-65 {
    animation: anim64 42685ms, fade9 42685ms;
  }

  .axis-66 {
    animation: anim64 12942ms, fade3 12942ms;
  }

  .axis-67 {
    animation: anim64 37665ms, fade2 37665ms;
  }

  .axis-68 {
    animation: anim68 25025ms, fade10 25025ms;
  }

  .axis-69 {
    animation: anim68 16190ms, fade7 16190ms;
  }

  .axis-70 {
    animation: anim68 29056ms, fade6 29056ms;
  }

  .axis-71 {
    animation: anim68 33284ms, fade8 33284ms;
  }

  .axis-72 {
    animation: anim72 9614ms, fade2 9614ms;
  }

  .axis-73 {
    animation: anim72 21542ms, fade9 21542ms;
  }

  .axis-74 {
    animation: anim72 18748ms, fade6 18748ms;
  }

  .axis-75 {
    animation: anim72 15086ms, fade10 15086ms;
  }

  .axis-76 {
    animation: anim76 38714ms, fade10 38714ms;
  }

  .axis-77 {
    animation: anim76 43889ms, fade8 43889ms;
  }

  .axis-78 {
    animation: anim76 9503ms, fade9 9503ms;
  }

  .axis-79 {
    animation: anim76 6543ms, fade6 6543ms;
  }

  .axis-80 {
    animation: anim80 40564ms, fade8 40564ms;
  }

  .axis-81 {
    animation: anim80 18952ms, fade1 18952ms;
  }

  .axis-82 {
    animation: anim80 16821ms, fade3 16821ms;
  }

  .axis-83 {
    animation: anim80 44662ms, fade10 44662ms;
  }

  .axis-84 {
    animation: anim84 19577ms, fade1 19577ms;
  }

  .axis-85 {
    animation: anim84 43382ms, fade2 43382ms;
  }

  .axis-86 {
    animation: anim84 11670ms, fade5 11670ms;
  }

  .axis-87 {
    animation: anim84 29033ms, fade3 29033ms;
  }

  .axis-88 {
    animation: anim88 36583ms, fade4 36583ms;
  }

  .axis-89 {
    animation: anim88 39780ms, fade8 39780ms;
  }

  .axis-90 {
    animation: anim88 6213ms, fade10 6213ms;
  }

  .axis-91 {
    animation: anim88 36606ms, fade8 36606ms;
  }

  .axis-92 {
    animation: anim92 20009ms, fade1 20009ms;
  }

  .axis-93 {
    animation: anim92 7228ms, fade6 7228ms;
  }

  .axis-94 {
    animation: anim92 44675ms, fade8 44675ms;
  }

  .axis-95 {
    animation: anim92 40594ms, fade8 40594ms;
  }

  .axis-96 {
    animation: anim96 24379ms, fade5 24379ms;
  }

  .axis-97 {
    animation: anim96 10478ms, fade5 10478ms;
  }

  .axis-98 {
    animation: anim96 28418ms, fade8 28418ms;
  }

  .axis-99 {
    animation: anim96 26742ms, fade10 26742ms;
  }

  .axis-100 {
    animation: anim100 44323ms, fade9 44323ms;
  }

  .axis-101 {
    animation: anim100 16408ms, fade2 16408ms;
  }

  .axis-102 {
    animation: anim100 37697ms, fade1 37697ms;
  }

  .axis-103 {
    animation: anim100 16337ms, fade4 16337ms;
  }

  .axis-104 {
    animation: anim104 40234ms, fade4 40234ms;
  }

  .axis-105 {
    animation: anim104 40341ms, fade1 40341ms;
  }

  .axis-106 {
    animation: anim104 38493ms, fade2 38493ms;
  }

  .axis-107 {
    animation: anim104 12278ms, fade2 12278ms;
  }

  .axis-108 {
    animation: anim108 37591ms, fade2 37591ms;
  }

  .axis-109 {
    animation: anim108 44098ms, fade4 44098ms;
  }

  .axis-110 {
    animation: anim108 23072ms, fade10 23072ms;
  }

  .axis-111 {
    animation: anim108 32393ms, fade8 32393ms;
  }

  .axis-112 {
    animation: anim112 44246ms, fade9 44246ms;
  }

  .axis-113 {
    animation: anim112 15575ms, fade9 15575ms;
  }

  .axis-114 {
    animation: anim112 33635ms, fade5 33635ms;
  }

  .axis-115 {
    animation: anim112 22652ms, fade1 22652ms;
  }

  .axis-116 {
    animation: anim116 31190ms, fade6 31190ms;
  }

  .axis-117 {
    animation: anim116 13414ms, fade8 13414ms;
  }

  .axis-118 {
    animation: anim116 26515ms, fade2 26515ms;
  }

  .axis-119 {
    animation: anim116 17919ms, fade5 17919ms;
  }

  .axis-120 {
    animation: anim120 27952ms, fade5 27952ms;
  }

  .axis-121 {
    animation: anim120 28233ms, fade1 28233ms;
  }

  .axis-122 {
    animation: anim120 23499ms, fade2 23499ms;
  }

  .axis-123 {
    animation: anim120 10986ms, fade2 10986ms;
  }

  .axis-124 {
    animation: anim124 26233ms, fade1 26233ms;
  }

  .axis-125 {
    animation: anim124 8073ms, fade3 8073ms;
  }

  .axis-126 {
    animation: anim124 38306ms, fade7 38306ms;
  }

  .axis-127 {
    animation: anim124 8253ms, fade2 8253ms;
  }

  .axis-128 {
    animation: anim128 30461ms, fade8 30461ms;
  }

  .axis-129 {
    animation: anim128 16349ms, fade8 16349ms;
  }

  .axis-130 {
    animation: anim128 24655ms, fade1 24655ms;
  }

  .axis-131 {
    animation: anim128 37881ms, fade5 37881ms;
  }

  .axis-132 {
    animation: anim132 24262ms, fade2 24262ms;
  }

  .axis-133 {
    animation: anim132 11582ms, fade4 11582ms;
  }

  .axis-134 {
    animation: anim132 36022ms, fade1 36022ms;
  }

  .axis-135 {
    animation: anim132 17518ms, fade7 17518ms;
  }

  .axis-136 {
    animation: anim136 34329ms, fade5 34329ms;
  }

  .axis-137 {
    animation: anim136 12837ms, fade2 12837ms;
  }

  .axis-138 {
    animation: anim136 29474ms, fade1 29474ms;
  }

  .axis-139 {
    animation: anim136 34282ms, fade10 34282ms;
  }

  .axis-140 {
    animation: anim140 40332ms, fade10 40332ms;
  }

  .axis-141 {
    animation: anim140 30921ms, fade2 30921ms;
  }

  .axis-142 {
    animation: anim140 9671ms, fade6 9671ms;
  }

  .axis-143 {
    animation: anim140 39687ms, fade5 39687ms;
  }

  .axis-144 {
    animation: anim144 43735ms, fade8 43735ms;
  }

  .axis-145 {
    animation: anim144 17429ms, fade3 17429ms;
  }

  .axis-146 {
    animation: anim144 22598ms, fade4 22598ms;
  }

  .axis-147 {
    animation: anim144 18675ms, fade2 18675ms;
  }

  .axis-148 {
    animation: anim148 43570ms, fade6 43570ms;
  }

  .axis-149 {
    animation: anim148 32528ms, fade10 32528ms;
  }

  .axis-150 {
    animation: anim148 30701ms, fade8 30701ms;
  }

  .axis-151 {
    animation: anim148 5449ms, fade8 5449ms;
  }

  .axis-152 {
    animation: anim152 33813ms, fade9 33813ms;
  }

  .axis-153 {
    animation: anim152 31902ms, fade6 31902ms;
  }

  .axis-154 {
    animation: anim152 37848ms, fade9 37848ms;
  }

  .axis-155 {
    animation: anim152 28100ms, fade9 28100ms;
  }

  .axis-156 {
    animation: anim156 35886ms, fade7 35886ms;
  }

  .axis-157 {
    animation: anim156 26348ms, fade9 26348ms;
  }

  .axis-158 {
    animation: anim156 44343ms, fade7 44343ms;
  }

  .axis-159 {
    animation: anim156 33161ms, fade5 33161ms;
  }

  .axis-160 {
    animation: anim160 22529ms, fade1 22529ms;
  }

  .axis-161 {
    animation: anim160 20877ms, fade10 20877ms;
  }

  .axis-162 {
    animation: anim160 31654ms, fade9 31654ms;
  }

  .axis-163 {
    animation: anim160 21934ms, fade3 21934ms;
  }

  .axis-164 {
    animation: anim164 27956ms, fade1 27956ms;
  }

  .axis-165 {
    animation: anim164 41361ms, fade6 41361ms;
  }

  .axis-166 {
    animation: anim164 9198ms, fade8 9198ms;
  }

  .axis-167 {
    animation: anim164 16665ms, fade2 16665ms;
  }

  .axis-168 {
    animation: anim168 15240ms, fade1 15240ms;
  }

  .axis-169 {
    animation: anim168 25786ms, fade6 25786ms;
  }

  .axis-170 {
    animation: anim168 39518ms, fade4 39518ms;
  }

  .axis-171 {
    animation: anim168 25360ms, fade3 25360ms;
  }

  .axis-172 {
    animation: anim172 19753ms, fade8 19753ms;
  }

  .axis-173 {
    animation: anim172 13347ms, fade9 13347ms;
  }

  .axis-174 {
    animation: anim172 42766ms, fade4 42766ms;
  }

  .axis-175 {
    animation: anim172 30435ms, fade6 30435ms;
  }

  .axis-176 {
    animation: anim176 14140ms, fade7 14140ms;
  }

  .axis-177 {
    animation: anim176 24529ms, fade3 24529ms;
  }

  .axis-178 {
    animation: anim176 39148ms, fade6 39148ms;
  }

  .axis-179 {
    animation: anim176 39978ms, fade7 39978ms;
  }

  .axis-180 {
    animation: anim180 28331ms, fade6 28331ms;
  }

  .axis-181 {
    animation: anim180 41981ms, fade1 41981ms;
  }

  .axis-182 {
    animation: anim180 25679ms, fade1 25679ms;
  }

  .axis-183 {
    animation: anim180 10187ms, fade7 10187ms;
  }

  .axis-184 {
    animation: anim184 32006ms, fade4 32006ms;
  }

  .axis-185 {
    animation: anim184 32837ms, fade4 32837ms;
  }

  .axis-186 {
    animation: anim184 11553ms, fade1 11553ms;
  }

  .axis-187 {
    animation: anim184 20525ms, fade10 20525ms;
  }

  .axis-188 {
    animation: anim188 16139ms, fade1 16139ms;
  }

  .axis-189 {
    animation: anim188 34345ms, fade8 34345ms;
  }

  .axis-190 {
    animation: anim188 13134ms, fade2 13134ms;
  }

  .axis-191 {
    animation: anim188 27088ms, fade3 27088ms;
  }

  .axis-192 {
    animation: anim192 9242ms, fade9 9242ms;
  }

  .axis-193 {
    animation: anim192 20922ms, fade4 20922ms;
  }

  .axis-194 {
    animation: anim192 38204ms, fade5 38204ms;
  }

  .axis-195 {
    animation: anim192 36177ms, fade5 36177ms;
  }

  .axis-196 {
    animation: anim196 39850ms, fade8 39850ms;
  }

  .axis-197 {
    animation: anim196 31666ms, fade3 31666ms;
  }

  .axis-198 {
    animation: anim196 32900ms, fade9 32900ms;
  }

  .axis-199 {
    animation: anim196 32385ms, fade8 32385ms;
  }

  .axis-200 {
    animation: anim200 28645ms, fade7 28645ms;
  }

  .axis-201 {
    animation: anim200 29130ms, fade3 29130ms;
  }

  .axis-202 {
    animation: anim200 23899ms, fade8 23899ms;
  }

  .axis-203 {
    animation: anim200 12592ms, fade8 12592ms;
  }

  .axis-204 {
    animation: anim204 15944ms, fade8 15944ms;
  }

  .axis-205 {
    animation: anim204 23318ms, fade10 23318ms;
  }

  .axis-206 {
    animation: anim204 30046ms, fade4 30046ms;
  }

  .axis-207 {
    animation: anim204 25602ms, fade2 25602ms;
  }

  .axis-208 {
    animation: anim208 9187ms, fade8 9187ms;
  }

  .axis-209 {
    animation: anim208 44891ms, fade5 44891ms;
  }

  .axis-210 {
    animation: anim208 26110ms, fade5 26110ms;
  }

  .axis-211 {
    animation: anim208 18173ms, fade2 18173ms;
  }

  .axis-212 {
    animation: anim212 27378ms, fade6 27378ms;
  }

  .axis-213 {
    animation: anim212 24655ms, fade1 24655ms;
  }

  .axis-214 {
    animation: anim212 16307ms, fade7 16307ms;
  }

  .axis-215 {
    animation: anim212 19179ms, fade7 19179ms;
  }

  .axis-216 {
    animation: anim216 23171ms, fade4 23171ms;
  }

  .axis-217 {
    animation: anim216 30426ms, fade10 30426ms;
  }

  .axis-218 {
    animation: anim216 38654ms, fade3 38654ms;
  }

  .axis-219 {
    animation: anim216 11852ms, fade2 11852ms;
  }

  .axis-220 {
    animation: anim220 8897ms, fade4 8897ms;
  }

  .axis-221 {
    animation: anim220 33354ms, fade9 33354ms;
  }

  .axis-222 {
    animation: anim220 35004ms, fade8 35004ms;
  }

  .axis-223 {
    animation: anim220 23917ms, fade9 23917ms;
  }

  .axis-224 {
    animation: anim224 32804ms, fade5 32804ms;
  }

  .axis-225 {
    animation: anim224 25035ms, fade4 25035ms;
  }

  .axis-226 {
    animation: anim224 28242ms, fade5 28242ms;
  }

  .axis-227 {
    animation: anim224 9048ms, fade4 9048ms;
  }

  .axis-228 {
    animation: anim228 17357ms, fade3 17357ms;
  }

  .axis-229 {
    animation: anim228 18334ms, fade1 18334ms;
  }

  .axis-230 {
    animation: anim228 11391ms, fade6 11391ms;
  }

  .axis-231 {
    animation: anim228 17307ms, fade5 17307ms;
  }

  .axis-232 {
    animation: anim232 10819ms, fade8 10819ms;
  }

  .axis-233 {
    animation: anim232 44602ms, fade4 44602ms;
  }

  .axis-234 {
    animation: anim232 18072ms, fade5 18072ms;
  }

  .axis-235 {
    animation: anim232 40510ms, fade6 40510ms;
  }

  .axis-236 {
    animation: anim236 24741ms, fade10 24741ms;
  }

  .axis-237 {
    animation: anim236 25902ms, fade10 25902ms;
  }

  .axis-238 {
    animation: anim236 25778ms, fade7 25778ms;
  }

  .axis-239 {
    animation: anim236 17066ms, fade9 17066ms;
  }

  .axis-240 {
    animation: anim240 41042ms, fade9 41042ms;
  }

  .axis-241 {
    animation: anim240 37214ms, fade8 37214ms;
  }

  .axis-242 {
    animation: anim240 22867ms, fade4 22867ms;
  }

  .axis-243 {
    animation: anim240 42126ms, fade9 42126ms;
  }

  .axis-244 {
    animation: anim244 28021ms, fade10 28021ms;
  }

  .axis-245 {
    animation: anim244 18409ms, fade2 18409ms;
  }

  .axis-246 {
    animation: anim244 34395ms, fade8 34395ms;
  }

  .axis-247 {
    animation: anim244 11623ms, fade7 11623ms;
  }

  .axis-248 {
    animation: anim248 7907ms, fade2 7907ms;
  }

  .axis-249 {
    animation: anim248 30390ms, fade8 30390ms;
  }

  .axis-250 {
    animation: anim248 13702ms, fade7 13702ms;
  }

  .axis-251 {
    animation: anim248 26007ms, fade5 26007ms;
  }

  .axis-252 {
    animation: anim252 19296ms, fade9 19296ms;
  }

  .axis-253 {
    animation: anim252 28158ms, fade5 28158ms;
  }

  .axis-254 {
    animation: anim252 6052ms, fade6 6052ms;
  }

  .axis-255 {
    animation: anim252 16045ms, fade5 16045ms;
  }

  .axis-256 {
    animation: anim256 8285ms, fade5 8285ms;
  }

  .axis-257 {
    animation: anim256 5801ms, fade2 5801ms;
  }

  .axis-258 {
    animation: anim256 29236ms, fade4 29236ms;
  }

  .axis-259 {
    animation: anim256 20853ms, fade4 20853ms;
  }

  .axis-260 {
    animation: anim260 19653ms, fade8 19653ms;
  }

  .axis-261 {
    animation: anim260 12007ms, fade8 12007ms;
  }

  .axis-262 {
    animation: anim260 21025ms, fade8 21025ms;
  }

  .axis-263 {
    animation: anim260 31739ms, fade7 31739ms;
  }

  .axis-264 {
    animation: anim264 24256ms, fade2 24256ms;
  }

  .axis-265 {
    animation: anim264 38720ms, fade6 38720ms;
  }

  .axis-266 {
    animation: anim264 24726ms, fade2 24726ms;
  }

  .axis-267 {
    animation: anim264 40432ms, fade1 40432ms;
  }

  .axis-268 {
    animation: anim268 24897ms, fade4 24897ms;
  }

  .axis-269 {
    animation: anim268 27299ms, fade9 27299ms;
  }

  .axis-270 {
    animation: anim268 22946ms, fade3 22946ms;
  }

  .axis-271 {
    animation: anim268 30354ms, fade10 30354ms;
  }

  .axis-272 {
    animation: anim272 30240ms, fade7 30240ms;
  }

  .axis-273 {
    animation: anim272 15353ms, fade9 15353ms;
  }

  .axis-274 {
    animation: anim272 7318ms, fade7 7318ms;
  }

  .axis-275 {
    animation: anim272 25163ms, fade6 25163ms;
  }

  .axis-276 {
    animation: anim276 29174ms, fade9 29174ms;
  }

  .axis-277 {
    animation: anim276 30936ms, fade6 30936ms;
  }

  .axis-278 {
    animation: anim276 25480ms, fade10 25480ms;
  }

  .axis-279 {
    animation: anim276 24702ms, fade4 24702ms;
  }

  .axis-280 {
    animation: anim280 36480ms, fade9 36480ms;
  }

  .axis-281 {
    animation: anim280 19769ms, fade6 19769ms;
  }

  .axis-282 {
    animation: anim280 35914ms, fade5 35914ms;
  }

  .axis-283 {
    animation: anim280 9083ms, fade8 9083ms;
  }

  .axis-284 {
    animation: anim284 5708ms, fade10 5708ms;
  }

  .axis-285 {
    animation: anim284 33217ms, fade10 33217ms;
  }

  .axis-286 {
    animation: anim284 16506ms, fade6 16506ms;
  }

  .axis-287 {
    animation: anim284 23372ms, fade6 23372ms;
  }

  .axis-288 {
    animation: anim288 31961ms, fade10 31961ms;
  }

  .axis-289 {
    animation: anim288 37557ms, fade3 37557ms;
  }

  .axis-290 {
    animation: anim288 23706ms, fade4 23706ms;
  }

  .axis-291 {
    animation: anim288 43496ms, fade1 43496ms;
  }

  .axis-292 {
    animation: anim292 43585ms, fade2 43585ms;
  }

  .axis-293 {
    animation: anim292 17363ms, fade3 17363ms;
  }

  .axis-294 {
    animation: anim292 31826ms, fade2 31826ms;
  }

  .axis-295 {
    animation: anim292 5396ms, fade7 5396ms;
  }

  .axis-296 {
    animation: anim296 32378ms, fade9 32378ms;
  }

  .axis-297 {
    animation: anim296 14768ms, fade8 14768ms;
  }

  .axis-298 {
    animation: anim296 10741ms, fade8 10741ms;
  }

  .axis-299 {
    animation: anim296 5139ms, fade3 5139ms;
  }

  .axis-300 {
    animation: anim300 10420ms, fade7 10420ms;
  }

  .axis-301 {
    animation: anim300 11578ms, fade2 11578ms;
  }

  .axis-302 {
    animation: anim300 12947ms, fade7 12947ms;
  }

  .axis-303 {
    animation: anim300 23343ms, fade4 23343ms;
  }

  .axis-304 {
    animation: anim304 13371ms, fade3 13371ms;
  }

  .axis-305 {
    animation: anim304 29076ms, fade2 29076ms;
  }

  .axis-306 {
    animation: anim304 27883ms, fade2 27883ms;
  }

  .axis-307 {
    animation: anim304 43442ms, fade4 43442ms;
  }

  .axis-308 {
    animation: anim308 32677ms, fade6 32677ms;
  }

  .axis-309 {
    animation: anim308 40943ms, fade2 40943ms;
  }

  .axis-310 {
    animation: anim308 22379ms, fade4 22379ms;
  }

  .axis-311 {
    animation: anim308 6781ms, fade6 6781ms;
  }

  .axis-312 {
    animation: anim312 26699ms, fade1 26699ms;
  }

  .axis-313 {
    animation: anim312 31109ms, fade8 31109ms;
  }

  .axis-314 {
    animation: anim312 11417ms, fade2 11417ms;
  }

  .axis-315 {
    animation: anim312 24210ms, fade3 24210ms;
  }

  .axis-316 {
    animation: anim316 22635ms, fade2 22635ms;
  }

  .axis-317 {
    animation: anim316 26825ms, fade9 26825ms;
  }

  .axis-318 {
    animation: anim316 12192ms, fade10 12192ms;
  }

  .axis-319 {
    animation: anim316 7528ms, fade5 7528ms;
  }

  .axis-320 {
    animation: anim320 12439ms, fade2 12439ms;
  }

  .axis-321 {
    animation: anim320 32972ms, fade8 32972ms;
  }

  .axis-322 {
    animation: anim320 5013ms, fade8 5013ms;
  }

  .axis-323 {
    animation: anim320 13992ms, fade2 13992ms;
  }

  .axis-324 {
    animation: anim324 7076ms, fade3 7076ms;
  }

  .axis-325 {
    animation: anim324 44272ms, fade9 44272ms;
  }

  .axis-326 {
    animation: anim324 8251ms, fade2 8251ms;
  }

  .axis-327 {
    animation: anim324 19400ms, fade9 19400ms;
  }

  .axis-328 {
    animation: anim328 24782ms, fade2 24782ms;
  }

  .axis-329 {
    animation: anim328 23540ms, fade2 23540ms;
  }

  .axis-330 {
    animation: anim328 29107ms, fade9 29107ms;
  }

  .axis-331 {
    animation: anim328 43158ms, fade9 43158ms;
  }

  .axis-332 {
    animation: anim332 17125ms, fade6 17125ms;
  }

  .axis-333 {
    animation: anim332 40059ms, fade2 40059ms;
  }

  .axis-334 {
    animation: anim332 36103ms, fade10 36103ms;
  }

  .axis-335 {
    animation: anim332 41346ms, fade7 41346ms;
  }

  .axis-336 {
    animation: anim336 13863ms, fade2 13863ms;
  }

  .axis-337 {
    animation: anim336 27206ms, fade3 27206ms;
  }

  .axis-338 {
    animation: anim336 26341ms, fade9 26341ms;
  }

  .axis-339 {
    animation: anim336 32333ms, fade10 32333ms;
  }

  .axis-340 {
    animation: anim340 22622ms, fade4 22622ms;
  }

  .axis-341 {
    animation: anim340 16026ms, fade4 16026ms;
  }

  .axis-342 {
    animation: anim340 38214ms, fade9 38214ms;
  }

  .axis-343 {
    animation: anim340 18229ms, fade2 18229ms;
  }

  .axis-344 {
    animation: anim344 9305ms, fade1 9305ms;
  }

  .axis-345 {
    animation: anim344 38841ms, fade10 38841ms;
  }

  .axis-346 {
    animation: anim344 39814ms, fade4 39814ms;
  }

  .axis-347 {
    animation: anim344 30045ms, fade2 30045ms;
  }

  .axis-348 {
    animation: anim348 42424ms, fade1 42424ms;
  }

  .axis-349 {
    animation: anim348 36445ms, fade5 36445ms;
  }

  .axis-350 {
    animation: anim348 11442ms, fade8 11442ms;
  }

  .axis-351 {
    animation: anim348 13025ms, fade3 13025ms;
  }

  .axis-352 {
    animation: anim352 32689ms, fade4 32689ms;
  }

  .axis-353 {
    animation: anim352 18577ms, fade4 18577ms;
  }

  .axis-354 {
    animation: anim352 42080ms, fade1 42080ms;
  }

  .axis-355 {
    animation: anim352 38442ms, fade5 38442ms;
  }

  .axis-356 {
    animation: anim356 31906ms, fade2 31906ms;
  }

  .axis-357 {
    animation: anim356 44439ms, fade2 44439ms;
  }

  .axis-358 {
    animation: anim356 24373ms, fade9 24373ms;
  }

  .axis-359 {
    animation: anim356 34253ms, fade7 34253ms;
  }

  .axis-360 {
    animation: anim360 11891ms, fade3 11891ms;
  }

  @keyframes fade1 {
    16% {
      opacity: 0;
    }
    26% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade2 {
    18% {
      opacity: 0;
    }
    28% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade3 {
    17% {
      opacity: 0;
    }
    27% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade4 {
    12% {
      opacity: 0;
    }
    22% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade5 {
    14% {
      opacity: 0;
    }
    24% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade6 {
    3% {
      opacity: 0;
    }
    13% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade7 {
    2% {
      opacity: 0;
    }
    12% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade8 {
    20% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade9 {
    19% {
      opacity: 0;
    }
    29% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade10 {
    20% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes anim4 {
    100% {
      transform: translate(79.8051240208vw, 5.5805178995vh);
    }
  }
  @keyframes anim8 {
    100% {
      transform: translate(79.2214454993vw, 11.1338480768vh);
    }
  }
  @keyframes anim12 {
    100% {
      transform: translate(78.2518080587vw, 16.6329352654vh);
    }
  }
  @keyframes anim16 {
    100% {
      transform: translate(76.9009356751vw, 22.0509884654vh);
    }
  }
  @keyframes anim20 {
    100% {
      transform: translate(75.1754096629vw, 27.3616114661vh);
    }
  }
  @keyframes anim24 {
    100% {
      transform: translate(73.0836366114vw, 32.5389314461vh);
    }
  }
  @keyframes anim28 {
    100% {
      transform: translate(70.6358074287vw, 37.5577250229vh);
    }
  }
  @keyframes anim32 {
    100% {
      transform: translate(67.8438476925vw, 42.3935411387vh);
    }
  }
  @keyframes anim36 {
    100% {
      transform: translate(64.72135955vw, 47.0228201834vh);
    }
  }
  @keyframes anim40 {
    100% {
      transform: translate(61.2835554495vw, 51.4230087749vh);
    }
  }
  @keyframes anim44 {
    100% {
      transform: translate(57.5471840271vw, 55.5726696367vh);
    }
  }
  @keyframes anim48 {
    100% {
      transform: translate(53.5304485087vw, 59.4515860382vh);
    }
  }
  @keyframes anim52 {
    100% {
      transform: translate(49.252918026vw, 63.0408602885vh);
    }
  }
  @keyframes anim56 {
    100% {
      transform: translate(44.7354322777vw, 66.3230058044vh);
    }
  }
  @keyframes anim60 {
    100% {
      transform: translate(40vw, 69.2820323028vh);
    }
  }
  @keyframes anim64 {
    100% {
      transform: translate(35.0696917431vw, 71.9035237039vh);
    }
  }
  @keyframes anim68 {
    100% {
      transform: translate(29.9685274733vw, 74.1747083653vh);
    }
  }
  @keyframes anim72 {
    100% {
      transform: translate(24.72135955vw, 76.0845213036vh);
    }
  }
  @keyframes anim76 {
    100% {
      transform: translate(19.353751648vw, 77.6236581021vh);
    }
  }
  @keyframes anim80 {
    100% {
      transform: translate(13.8918542133vw, 78.784620241vh);
    }
  }
  @keyframes anim84 {
    100% {
      transform: translate(8.3622770614vw, 79.5617516295vh);
    }
  }
  @keyframes anim88 {
    100% {
      transform: translate(2.7919597362vw, 79.9512661615vh);
    }
  }
  @keyframes anim92 {
    100% {
      transform: translate(-2.7919597362vw, 79.9512661615vh);
    }
  }
  @keyframes anim96 {
    100% {
      transform: translate(-8.3622770614vw, 79.5617516295vh);
    }
  }
  @keyframes anim100 {
    100% {
      transform: translate(-13.8918542134vw, 78.784620241vh);
    }
  }
  @keyframes anim104 {
    100% {
      transform: translate(-19.353751648vw, 77.6236581021vh);
    }
  }
  @keyframes anim108 {
    100% {
      transform: translate(-24.72135955vw, 76.0845213036vh);
    }
  }
  @keyframes anim112 {
    100% {
      transform: translate(-29.9685274733vw, 74.1747083653vh);
    }
  }
  @keyframes anim116 {
    100% {
      transform: translate(-35.0696917431vw, 71.9035237039vh);
    }
  }
  @keyframes anim120 {
    100% {
      transform: translate(-40vw, 69.2820323027vh);
    }
  }
  @keyframes anim124 {
    100% {
      transform: translate(-44.7354322777vw, 66.3230058044vh);
    }
  }
  @keyframes anim128 {
    100% {
      transform: translate(-49.2529180261vw, 63.0408602885vh);
    }
  }
  @keyframes anim132 {
    100% {
      transform: translate(-53.5304485087vw, 59.4515860382vh);
    }
  }
  @keyframes anim136 {
    100% {
      transform: translate(-57.5471840271vw, 55.5726696367vh);
    }
  }
  @keyframes anim140 {
    100% {
      transform: translate(-61.2835554495vw, 51.4230087749vh);
    }
  }
  @keyframes anim144 {
    100% {
      transform: translate(-64.72135955vw, 47.0228201834vh);
    }
  }
  @keyframes anim148 {
    100% {
      transform: translate(-67.8438476924vw, 42.3935411387vh);
    }
  }
  @keyframes anim152 {
    100% {
      transform: translate(-70.6358074286vw, 37.5577250229vh);
    }
  }
  @keyframes anim156 {
    100% {
      transform: translate(-73.0836366112vw, 32.5389314461vh);
    }
  }
  @keyframes anim160 {
    100% {
      transform: translate(-75.1754096624vw, 27.3616114661vh);
    }
  }
  @keyframes anim164 {
    100% {
      transform: translate(-76.9009356743vw, 22.0509884654vh);
    }
  }
  @keyframes anim168 {
    100% {
      transform: translate(-78.2518080574vw, 16.6329352656vh);
    }
  }
  @keyframes anim172 {
    100% {
      transform: translate(-79.2214454971vw, 11.1338480771vh);
    }
  }
  @keyframes anim176 {
    100% {
      transform: translate(-79.8051240171vw, 5.5805179vh);
    }
  }
  @keyframes anim180 {
    100% {
      transform: translate(-79.9999999939vw, 8.1127308627vh);
    }
  }
  @keyframes anim184 {
    100% {
      transform: translate(-79.805124011vw, -5.5805178982vh);
    }
  }
  @keyframes anim188 {
    100% {
      transform: translate(-79.2214454836vw, -11.1338480746vh);
    }
  }
  @keyframes anim192 {
    100% {
      transform: translate(-78.2518080337vw, -16.6329352618vh);
    }
  }
  @keyframes anim196 {
    100% {
      transform: translate(-76.9009356358vw, -22.0509884595vh);
    }
  }
  @keyframes anim200 {
    100% {
      transform: translate(-75.1754096017vw, -27.3616114568vh);
    }
  }
  @keyframes anim204 {
    100% {
      transform: translate(-73.0836365169vw, -32.5389314314vh);
    }
  }
  @keyframes anim208 {
    100% {
      transform: translate(-70.6358072839vw, -37.557725vh);
    }
  }
  @keyframes anim212 {
    100% {
      transform: translate(-67.8438474725vw, -42.3935411032vh);
    }
  }
  @keyframes anim216 {
    100% {
      transform: translate(-64.7213592185vw, -47.022820129vh);
    }
  }
  @keyframes anim220 {
    100% {
      transform: translate(-61.2835549536vw, -51.423008692vh);
    }
  }
  @keyframes anim224 {
    100% {
      transform: translate(-57.5471832906vw, -55.5726695113vh);
    }
  }
  @keyframes anim228 {
    100% {
      transform: translate(-53.5304474226vw, -59.4515858499vh);
    }
  }
  @keyframes anim232 {
    100% {
      transform: translate(-49.2529164353vw, -63.0408600078vh);
    }
  }
  @keyframes anim236 {
    100% {
      transform: translate(-44.735429963vw, -66.3230053889vh);
    }
  }
  @keyframes anim240 {
    100% {
      transform: translate(-39.9999966533vw, -69.2820316917vh);
    }
  }
  @keyframes anim244 {
    100% {
      transform: translate(-35.0696869337vw, -71.9035228111vh);
    }
  }
  @keyframes anim248 {
    100% {
      transform: translate(-29.9685206026vw, -74.1747070689vh);
    }
  }
  @keyframes anim252 {
    100% {
      transform: translate(-24.721349791vw, -76.0845194323vh);
    }
  }
  @keyframes anim256 {
    100% {
      transform: translate(-19.3537378633vw, -77.6236554167vh);
    }
  }
  @keyframes anim260 {
    100% {
      transform: translate(-13.891834847vw, -78.7846164089vh);
    }
  }
  @keyframes anim264 {
    100% {
      transform: translate(-8.362249995vw, -79.5617461908vh);
    }
  }
  @keyframes anim268 {
    100% {
      transform: translate(-2.7919220994vw, -79.9512584836vh);
    }
  }
  @keyframes anim272 {
    100% {
      transform: translate(2.7920118149vw, -79.951255378vh);
    }
  }
  @keyframes anim276 {
    100% {
      transform: translate(8.3623487803vw, -79.5617365594vh);
    }
  }
  @keyframes anim280 {
    100% {
      transform: translate(13.8919525223vw, -78.7845992823vh);
    }
  }
  @keyframes anim284 {
    100% {
      transform: translate(19.3538857994vw, -77.6236290907vh);
    }
  }
  @keyframes anim288 {
    100% {
      transform: translate(24.7215418116vw, -76.0844813291vh);
    }
  }
  @keyframes anim292 {
    100% {
      transform: translate(29.9687740459vw, -74.1746535294vh);
    }
  }
  @keyframes anim296 {
    100% {
      transform: translate(35.0700239391vw, -71.9034488065vh);
    }
  }
  @keyframes anim300 {
    100% {
      transform: translate(40.0004457508vw, -69.2819304349vh);
    }
  }
  @keyframes anim304 {
    100% {
      transform: translate(44.7360280553vw, -66.3228678216vh);
    }
  }
  @keyframes anim308 {
    100% {
      transform: translate(49.2537112853vw, -63.0406741325vh);
    }
  }
  @keyframes anim312 {
    100% {
      transform: translate(53.5315007796vw, -59.4513358667vh);
    }
  }
  @keyframes anim316 {
    100% {
      transform: translate(57.5485748204vw, -55.5723347095vh);
    }
  }
  @keyframes anim320 {
    100% {
      transform: translate(61.2853871724vw, -51.4225620336vh);
    }
  }
  @keyframes anim324 {
    100% {
      transform: translate(64.7237636756vw, -47.0222264458vh);
    }
  }
  @keyframes anim328 {
    100% {
      transform: translate(67.8469924807vw, -42.39275481vh);
    }
  }
  @keyframes anim332 {
    100% {
      transform: translate(70.6399075605vw, -37.5566872034vh);
    }
  }
  @keyframes anim336 {
    100% {
      transform: translate(73.0889651791vw, -32.5375662873vh);
    }
  }
  @keyframes anim340 {
    100% {
      transform: translate(75.1823130503vw, -27.3598215917vh);
    }
  }
  @keyframes anim344 {
    100% {
      transform: translate(76.9098519779vw, -22.0486492345vh);
    }
  }
  @keyframes anim348 {
    100% {
      transform: translate(78.2632898269vw, -16.6298876035vh);
    }
  }
  @keyframes anim352 {
    100% {
      transform: translate(79.2361877464vw, -11.1298895415vh);
    }
  }
  @keyframes anim356 {
    100% {
      transform: translate(79.8239986358vw, -5.5753915744vh);
    }
  }
  @keyframes anim360 {
    100% {
      transform: translate(80.0240979233vw, 0.0066192762vh);
    }
  }
